html, body {
    height: 100%;
    background: linear-gradient(to bottom, orange 60%, cyan) no-repeat;
}

h1, h2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#instructions {
    margin-left: 30%;
}

textarea {
    position: absolute;
    top: 52%;
    left: 50%;
    width: 400px;
    height: 100px;
    margin-top: -100px;
    margin-left: -200px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

#clear {
    background: palegreen;
    position: relative;
    width: 90px;
    height: 30px;
    padding: 1px;
    border: 1px solid white;
    border-radius: 12%;
    margin-left: 4%;
    margin-top: 5%;
}

.keyboard {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 5px 0;
    background: #004134;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
    height: 270px;
}

.keyboard--hidden {
    bottom: -100%;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    border-radius: 4px;
    margin: 3px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05em;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0px;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.keyboard__key:active {
    background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra-wide {
    width: 36%;
    max-width: 500px;
}

.keyboard__key--activable:after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
}

.keyboard__key--active:after {
    background: #00ff00;
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.30);
}